.formulaire_principal {
  background-color: #0e0d10;
  &-container {
    margin: 0 25px;
    @media screen and (min-width: 951px) {
      margin: auto;
      padding: 0 25px;
      max-width: 1250px;
    }
  }
  &-btn {
    background-color: #f0082b;
    border: none;
    padding: 30px 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 35px auto 0;
    display: block;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    @media screen and (min-width: 951px) {
      margin: 45px auto 0 0;
    }
    &.success {
      border-radius: 15px;
      background-color: green;
      &:hover {
        background-color: green;
        cursor: default;
      }
      &:active {
        background-color: green;
      }
    }
    &-err {
      margin: 10px auto;
      text-align: center;
      color: #df1133;
      visibility: hidden;
      font-size: 12px;
      transition: ease-in-out 0.1s;
      &.error {
        visibility: visible;
      }
    }
    &:hover {
      background-color: greenyellow;
    }
    &:active {
      background-color: green;
    }
    & span {
      margin-left: 10px;
    }
  }
  & form {
    padding-bottom: 50px;
  }
  &-title {
    padding-top: 90px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    @media screen and (min-width: 951px) {
      font-size: 48px;
    }
  }
  &-subtitle {
    margin: 50px 0;
    font-size: 16px;
    @media screen and (min-width: 951px) {
      font-size: 18px;
    }
  }
  &-input-container {
    @media screen and (min-width: 951px) {
      margin-right: auto;
      max-width: 75%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &-input {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 951px) {
      max-width: 48%;
    }
    &-inside.error {
      border: solid 2px #df1133;
    }
    & input {
      color: white;
      width: 100%;
      padding: 25px 20px;
      border: solid 2px white;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 600;
      background-color: rgba(
        255,
        255,
        255,
        0
      ); /* Transparent white */
      text-transform: uppercase;
      transition: ease-in-out 0.1s;
      @media screen and (min-width: 951px) {
        font-size: 16px;
      }
      :focus {
        background-color: transparent; /* Check if this rule exists */
      }
      &::placeholder {
        color: white;
        text-transform: uppercase;
      }
    }
    &-err {
      justify-content: start;
      margin: 10px 15px;
      color: #df1133;
      visibility: hidden;
      font-size: 12px;
      transition: ease-in-out 0.1s;
      @media screen and (min-width: 951px) {
        margin: 5px 15px;
      }
      &.error {
        visibility: visible;
      }
    }
  }
}
