.header_hero {
  &-container {
    margin: 0 25px;
    padding: 60px 0;
    @media screen and (min-width: 951px) {
      margin: auto;
      padding: 60px 25px 120px;
      max-width: 1250px;
    }
  }

  &-intro {
    &-title {
      margin-top: 60px;
      position: relative;
      font-size: 42px;
      z-index: -1;
      text-align: center;
      // line-height: 2;
      &::before {
        content: "Unik média";
        position: absolute;
        text-transform: capitalize;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Tungsten-Semibold, sans-serif;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 2em;
        color: rgba(255, 255, 255, 0.15);
        @media screen and (min-width: 951px) {
          font-size: 2.8em;
          letter-spacing: -5px;
          left: 54%;
        }
      }
      @media screen and (min-width: 951px) {
        margin: 175px auto 100px 45px;
        font-size: 72px;
        text-align: left;
        max-width: 70%;
      }
    }
  }
  &-contact {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    @media screen and (min-width: 951px) {
      justify-content: space-between;
    }
    & img {
      height: 18px;
      width: 18px;
    }
    &-info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
      @media screen and (min-width: 951px) {
        width: fit-content;
      }
      &-container {
        width: 100%;
        @media screen and (min-width: 951px) {
          width: fit-content;
        }
      }
      &-link {
        text-transform: uppercase;
        display: flex;
        margin-top: 20px;
        font-weight: 600;
        font-size: 12px;
        font-family: CalibreWeb-Semibold, sans-serif;
        justify-content: center;
        @media screen and (min-width: 951px) {
          justify-content: start;
        }
        & a {
          display: flex;
          align-items: center;
          color: white;
          text-decoration: none;
          transition: ease-in-out 0.1s;
          text-underline-offset: 4px;
          &:hover {
            // color: red;
            transform: scale(1.2);
            text-decoration: underline;
            // background-color: rgba(255, 255, 255, 0.15);
          }
          & img {
            margin-left: 15px;
          }
        }
        & span {
          margin-left: 15px;
        }
      }
      &-icon {
        height: fit-content;
        width: fit-content;
        margin: 0 auto;
        padding: 10px;
        border-radius: 50%;
        background-color: #0e0d10;
        @media screen and (min-width: 951px) {
          margin-right: 35px;
        }
      }
      & p {
        margin: 10px auto 0;
        width: 100%;
        font-size: 18px;
        @media screen and (min-width: 951px) {
          font-size: 20px;
          width: fit-content;
        }
      }
    }
  }
}

// .header_hero-contact-info-link:hover img {
//   fill: red;
// }
