.menu-principal {
  &-container {
    display: flex;
    justify-content: end;
    font-family: CalibreWeb-Semibold, sans-serif;
  }
  &-logo {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 20px;
    color: #f50c2f;
    cursor: pointer;
    @media screen and (min-width: 951px) {
      margin: 10px auto 10px 45px;
      font-size: 36px;
    }
  }
  &-nav {
    justify-content: end;
    display: flex;
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    @media screen and (min-width: 951px) {
      background-color: rgba(24, 23, 29, 0.85);
      margin-top: 0;
    }
    &-desktop {
      justify-content: end;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(24, 23, 29, 0.85);
      margin-top: 0;
      z-index: 5;
    }
  }
  &-btn {
    margin: 0 15px 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    border-radius: 50%;
    background-color: rgba(32, 31, 36, 0.85);
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    transition: ease-in-out 0.1s;
    &:hover {
      background-color: rgba(47, 46, 51, 0.75);
    }
    &-bar {
      width: 30px;
      height: 3px;
      background-color: #f0082b;
      margin: 4px 0;
      transition: 0.4s;
      &:nth-child(1).open {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      &:nth-child(2).open {
        opacity: 0;
      }

      &:nth-child(3).open {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
    @media screen and (min-width: 951px) {
      display: none;
    }
  }
  &-ul {
    position: fixed;
    margin: 0;
    top: 0;
    height: 100%;
    background-color: rgba(14, 13, 16, 0.95);
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    right: -100%;
    z-index: 1;
    // transition: ease-in-out 0.4s;
    padding: 0;
    &.close {
      transition: ease-in-out 0.4s;
    }
    &.open {
      transition: ease-in-out 0.4s;
      right: 0;
    }
    & li:first-child {
      margin-top: 80px;
      @media screen and (min-width: 951px) {
        margin-top: 0;
      }
    }
    & li:last-child {
      background-color: rgba(240, 8, 43, 0.75);
      text-align: center;
      transition: ease-in-out 0.1s;
      &:hover {
        background-color: rgba(240, 8, 43, 0.95);
      }
    }
    & li {
      margin: 0px;
    }
    & a {
      padding: 15px;
      color: white;
      font-weight: 700;
      margin: 0;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      border-bottom: solid 2px rgba(240, 8, 43, 0);
      transition: ease-in-out 0.1s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-bottom: solid 2px rgba(240, 8, 43, 0.5);
      }
      @media screen and (min-width: 951px) {
        padding: 30px 15px;
      }
    }
    @media screen and (min-width: 951px) {
      right: 0;
      flex-direction: row;
      height: fit-content;
      position: relative;
      background-color: transparent;
    }
  }
  &-ul-desktop {
    margin: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    z-index: 1;
    padding: 0;
    right: 0;
    flex-direction: row;
    height: fit-content;
    position: relative;
    background-color: transparent;
    &.open {
      right: 0;
    }
    & li:first-child {
      margin-top: 0;
    }
    & li:last-child {
      background-color: rgba(240, 8, 43, 0.75);
      text-align: center;
      transition: ease-in-out 0.1s;
      &:hover {
        background-color: rgba(240, 8, 43, 0.95);
      }
    }
    & a {
      color: white;
      font-weight: 700;
      margin: 0;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      border-bottom: solid 2px rgba(240, 8, 43, 0);
      transition: ease-in-out 0.1s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-bottom: solid 2px rgba(240, 8, 43, 0.5);
      }
      padding: 30px 15px;
    }
  }

  &-li-fb {
    display: flex;
    text-align: center;
    justify-content: center;
    height: fit-content;
    margin: auto;
    & a {
      text-indent: -9999px;
      overflow: hidden;
      white-space: nowrap;
      padding: 0;
      width: 25px;
      height: 25px;
      background: url("../..//dist/images/icn-facebook.svg") center no-repeat;
    }
  }
  &-li-ig {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url("../..//dist/images/icn-instagram.svg");
    & a {
      text-indent: -9999px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
