html {
  background-color: #18171d;
  color: white;
  font-family: ubuntu, sans-serif;
  letter-spacing: 0.5px;
}
body {
  margin: 0;
}

ul {
  list-style: none;
}

// COLORS

// $background-main-1: #18171d;
// $background-main-2: #0e0d10;
// $menu-red: #f0082b;
// $menu-hover: rgba(240, 8, 43, 0.5);
// $redError: #A30822;
